<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/burgerstyle.css" type="text/css" />
    <title>MVC With Burgers!</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery.js"></script>

</head>

<body>
    {{{ body }}}
    <script src="assets/js/burgers.js"></script>
</body>

</html>