<h1>Eat-A-Burger!</h1>

<h2>burgers that are not devoured!</h2>

<ul>
    {{#each burger_name}}
    <p>{{id}}. {{burger_name}} <button type="submit" class="submit">Devour</button>
    </p>
    {{/each}}

</ul>
{{!-- //this would be where the burgers would be separated if they were devoured or not and have thier own button. I tried to emulate the if function but had trouble duplicating.> --}}

<h2>Enter a burger you want to eat, then click Submit</h2>

<form class="create-form">
    <div class="form-group">
        <label for="ca">Burger Name:</label>
        <input type="text" id="ca" name="name">
    </div>

    <button type="submit" id="addburger">Add burger</button>
</form>

{{!-- this would then post to the burgers api --}}